{% extends 'base.html' %}

{% block body %}

<h1> Search result </h1>

<ul>
    {% for graphic in graphics %}
        <!-- <h4>{{ graphic.name }}</h4> -->
        <!-- {% for laptop in graphic.laptops.all %}
            <li>{{ laptop.name }} - {{ laptop.price }}</li>
        {% endfor %} -->
    {% endfor%}
    {% for laptop in laptops %}
    <li>
        {{ laptop.name }} - {{ laptop.price }}
    </li>
    {% endfor %}
</ul>



<nav>
        <ul class = 'pagination'>
            {% if articles.has_revious %}
            <li class ='page-item'>
                <a href="page-ling" href= '{% url 'articles:index' %}?page={{ articles.previous_page_number }}'>Previous</a>
            </li>
            {% endif %}
    
            {% for num_page in articles.paginator.page_range %}
            <li class = 'page-item' {% if num_page == articles.number %}active{% endif %}>
                <a class = 'page-link' href= '{% url 'articles:index' %}?page= {{ num_page}}'>{{ num_page }}</a>
            </li>
            {% endfor %}
    
            {% if articles.has_next %}
            <li class = 'page-item'>
                <a class = 'page-link' href="{% url 'articles:index'%}?page={{ articles.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>










{% endblock %}